/* Individual item */
.bm-item {
/* display: inline-block; */

/* Our sidebar item styling */
/* text-decoration: none; */
margin-bottom: 10px;
color: #907163;
transition: color 0.2s;
outline: none;
}


#page-wrap {
text-align: center;
/* Prevent sidebar from showing a scrollbar on page */
overflow: auto;
}

/* Change color on hover */
/* .bm-item:hover {
color: black;
} */

/* The rest copied directly from react-burger-menu docs */

/* Position and sizing of burger button */
.bm-burger-button {
position: fixed;
width: 36px;
height: 30px;
left: 30px;
top: 20px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
background: #907163;
/* background: white; */
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
height: 24px;
width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
background: #907163;
}

/* General sidebar styles */
.bm-menu {
background: #EAE7DC;
/* background: #42596A; og */
padding: 2.5em 1.5em 0;
font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
/* .bm-morph-shape {
fill: #373a47;
} */

/* Wrapper for item list */
.bm-item-list {
color: #b8b7ad;
/* padding: 0.8em; */
}

/* Styling of overlay */
.bm-overlay {
background: rgba(0, 0, 0, 0.3);
}


.content {
    display: none;
    padding : 5px;
}


.date-picker {
    border-width: 0;
    width: 30%;
    outline: none;
    font-size: 11px;
}

.date-picker:focus {
    border-bottom: 2px solid #D59A69;
}


.addClassInput {
    -webkit-appearance: none;
    color: #ab8574;
    font-size: 14px;
    position: relative;
    margin: auto;
    /* width: 100%; */
    border: 0;
    width: 180px;
    background: none;
    transition: all .15s ease;
    padding: 0;
    border-radius: 0;
    /* width: 280px; */
    height: 53px;
    border-bottom: 1px solid #ab8574;
    outline: none;
}

.addClassInput:focus {
    border-bottom: 1px solid #907163;
}

.addClassInput::placeholder {
    color: #ab8574;
}

.burger-edit {
    /* width: 100%; */
    width: 180px;
    border: none;
    /* outline-color: teal; */
    outline: none;
    border-bottom: 1px solid #907163;
    /* border-radius: 3px; */
    /* margin-bottom: 3px; */
    padding: 5px;
    background: none;
    transition: all .15s ease;
    color: #907163;
    /* margin-top: 20px; */
    /* left: 100px; */
}

.listTitle-input {
    /* width: 96%;
    border: none;
    outline-color: teal;
    border-radius: 3px;
    margin-bottom: 3px;
    padding: 5px; */


    width: 96%;
    border: none;
    outline: none;
    border-bottom: 2px solid white;
    /* margin-bottom: 3px; */
    padding: 5px;
    background: none;
    transition: all .15s ease;
    color: white;
    margin-bottom: 13px;
    margin-top: 20px;
}

.upload-expense {
    margin-top: 10px;
    /* margin-bottom: 15px; */
}
